{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}
{{ $data := site.Params }}

{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
  {{ if ne $columns "1" }}
    <div class="col-12 col-lg-4 section-heading">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    </div>
    <div class="col-12 col-lg-8">
      {{ $st.Content }}
    </div>
  {{ else }}
    <div class="col-lg-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
    </div>

    <div class="col-lg-12 intro-plus">
      {{ with $st.Params.intro }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    </div>

<div class="col-12 contact-plus">

    <ul class="fa-ul">

      {{ if and $data.email (not $page.Params.email_form) }}
      <li>
        <span id="person-email">
        {{- if $autolink }}<a href="mailto:{{ $data.email }}"><i class="fa-li fas fa-envelope fa-2x" aria-hidden="true"></i></a>{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $data.phone }}
      <li>
        <span id="person-telephone">
        {{- if $autolink }}<a href="tel:{{ . }}"><i class="fa-li fas fa-phone fa-2x" aria-hidden="true"></i></a>{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ $addr_formatted := "" }}{{/* Scoping for maps. */}}
      {{ if $data.address.street | or $data.address.city | or $data.address.region | or $data.address.postcode | or $data.address.country }}
        {{ $addr := slice }}
        {{with $data.address.street}}{{$addr = $addr | append .}}{{end}}
        {{with $data.address.city}}{{$addr = $addr | append .}}{{end}}
        {{with $data.address.region}}{{$addr = $addr | append .}}{{end}}
        {{with $data.address.postcode}}{{$addr = $addr | append .}}{{end}}
        {{with $data.address.country}}{{$addr = $addr | append .}}{{end}}
        {{ $addr_formatted = delimit $addr (site.Params.list_delimiter | default ", ") }}
        <li>
          <i class="fa-li fas fa-map-marker fa-2x" aria-hidden="true"></i>
          <span id="person-address">{{ $addr_formatted }}</span>
        </li>
      {{ end }}

      {{ with $data.directions }}
      <li>
        <i class="fa-li fas fa-compass fa-2x" aria-hidden="true"></i>
        <span>{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}

      {{ with $data.office_hours }}
      <li>
        <i class="fa-li fas fa-clock fa-2x" aria-hidden="true"></i>
        <span>
          {{- if not (reflect.IsSlice .)}}{{/* Support legacy string format. */}}
            {{- . | markdownify | emojify -}}
          {{else}}
            {{- delimit . "<br>" | markdownify | emojify -}}
          {{end -}}
        </span>
      </li>
      {{ end }}

      {{ with $data.appointment_url }}
      <li>
        <i class="fa-li fas fa-calendar-check fa-2x" aria-hidden="true"></i>
        <a href="{{ . }}" target="_blank" rel="noopener">{{ i18n "book_appointment" | default "Book an appointment" }}</a>
      </li>
      {{ end }}

      {{/* Contact links. */}}
      {{ range $data.contact_links }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li>
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}><i class="fa-li {{ $pack }} {{ $pack_prefix }}-{{ .icon }} fa-2x" aria-hidden="true"></i></a>
      </li>
      {{ end }}

    </ul>
    
</div>


    <div class="col-12">
      {{ $st.Content }}
    </div>
    
    
  {{ end }}
</div>
