[submodule "public"]
	path = public
	url = git@github.com:piraadipartei/piraadipartei.github.io.git
	branch = master
[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:piraadipartei/hugo-academic.git
